.menubar-container {
  padding: 0;
  font-size: 1.25rem;
}

.menubar-container>.col-md-12 {
  padding: 0;
}

.nav-item {
  padding: 1rem 0rem;
  border-bottom: 0.5rem solid #ccc;
  border-bottom-color: #f58995;
}

.enabled {
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: black;
  border-bottom-color: #bf1e2e !important;
}
