<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Categories</h1>
    </div>
  </div>
  <div class="row menubar-container">
    <div class="col-md-12">
      <ul class="nav nav-justified">
        <ng-container *ngFor="let menu of menus">
          <li class="nav-item enabled" [ngClass]="{'active': menu.selected}" (click)="onMenuClick(menu)">
            <a>{{menu.name}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-template appDynamic></ng-template>
    </div>
  </div>
</div>
