<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div id="container-sidebar" class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div id="container-content" class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
