<ng-container *ngFor="let star of [1,2,3,4,5]">
  <ng-container [ngSwitch]="_rating >= star">
    <span *ngSwitchCase="true">
      <i class="fas fa-star"></i>
    </span>
    <ng-container *ngSwitchCase="false">
      <ng-container [ngSwitch]="_rating > (star-1)">
        <span *ngSwitchCase="true">
          <i class="fas fa-star-half"></i>
        </span>
        <span *ngSwitchCase="false">
          <i class="far fa-star"></i>
        </span>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
