<div class="notes container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Notes</h1>
    </div>
    <div class="col-md-6 col-sm-6 text-right">
      <button class="btn btn-danger" (click)="onAddNote()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <app-form-search [formConfig]="formConfig" (onsubmitEvent)="onsubmitEvent($event)"></app-form-search>
  <div class="row">
    <div class="col-md-12">
      <h4>Notes List</h4>
    </div>
  </div>
  <app-table [dataService]="dataService" [columnsList]="columnList" [searchForm]="searchForm" [editable]="true" [onAlterData]="onAlterData" (onTableRowEdit)="onTableRowEdit($event)"></app-table>
</div>
<app-add-note [note]="addNote" (onAlterDataEvent)="onAlterDataEvent($event)"></app-add-note>
<app-update-note [note]="selectedNote" (onAlterDataEvent)="onAlterDataEvent($event)"></app-update-note>
