<div class="modal fade" id="report-note-detail-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-note-modalLabel">Reported Issues</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <strong>Note ID:</strong>
          </div>
          <div class="col-md-10">{{reportDetails?.id}}</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Note Name:</strong>
          </div>
          <div class="col-md-10">{{reportDetails?.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <strong>Writer:</strong>
          </div>
          <div class="col-md-10">{{reportDetails?.ownerDetail?.display_name}}</div>
        </div>
        <ngx-datatable class="material" [rows]="reportDetails?.report || []" [columns]="columnList" [columnMode]="'standard'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [count]="reportDetails?.total || 0" [sortType]="'multi'"
          [limit]="10" [loadingIndicator]="reportDetails?.loadingIndicator">
        </ngx-datatable>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-danger btn-action" data-dismiss="modal" [disabled]="processing">Cancel</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-danger btn-action" (click)="onBan()" [disabled]="processing">Ban</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
