<div class="modal fade" id="approve-note-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="noteItem">
        <div class="container">
          <div class="row">
            <div class="col-md-6 media-data">
              <div id="carouselIndicators" class="carousel">
                <div class="carousel-inner h-100" role="listbox">
                  <ng-container *ngFor="let media of noteItem?.medias; let i=index">
                    <div class="carousel-item h-100" [ngClass]="media.class">
                      <img class="d-block w-100 h-100" src="#" data-src="{{media.image}}">
                      <div class="bottom-left">
                        <div class="row">
                          <div class="col-md-3">
                            <span>{{media.index}} of {{noteItem?.medias.length}}</span>
                          </div>
                          <div class="col-md-9">
                            <audio controls *ngIf="media.audio">
                              <source [src]="media.audio" />
                            </audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span class="carousel-pointer" aria-hidden="true" (click)="onPrevious()">
                    <i class="fas fa-chevron-circle-left fa-3x"></i>
                  </span>
                </a>
                <a class="carousel-control-next" role="button" data-slide="next">
                  <span class="carousel-pointer" aria-hidden="true" (click)="onNext()">
                    <i class="fas fa-chevron-circle-right fa-3x"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row note-detail">
                <div class="col-md-3">
                  <img src="assets/images/default-user.png" class="user-image">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>{{noteItem?.ownerDetail?.display_name}}</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">Note</div>
                    <div class="col-md-2">Series</div>
                    <div class="col-md-2">Rating</div>
                    <div class="col-md-3">Following</div>
                    <div class="col-md-3">Follower</div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">{{noteItem?.ownerDetail?.stat?.note_count}}</div>
                    <div class="col-md-2">{{noteItem?.ownerDetail?.stat?.series_count}}</div>
                    <div class="col-md-2">{{noteItem?.ownerDetail?.stat?.rating_avg | number:'1.0-2'}}/5</div>
                    <div class="col-md-3">{{noteItem?.ownerDetail?.stat?.following}}</div>
                    <div class="col-md-3">{{noteItem?.ownerDetail?.stat?.follower}}</div>
                  </div>
                </div>
              </div>
              <div class="row note-detail">
                <div class="col-md-7">
                  <h5>{{noteItem?.caption}}</h5>
                </div>
                <div class="col-md-1">
                  <span [ngClass]="{'favorite': noteItem?.favorites, 'unfavorite': !noteItem?.favorites}">
                    <i class="fas fa-heart"></i>
                  </span>
                </div>
                <div class="col-md-4 text-right">
                  <app-rating [rating]="getRatingValue(noteItem?.rating)"></app-rating>
                </div>
              </div>
              <div class="row note-detail">
                <div class="col-md-12">
                  <span class="badge badge-secondary" *ngFor="let keyword of noteItem?.keywords">{{keyword}}</span>
                </div>
              </div>
              <div class="row note-menu">
                <div class="col-md-12">
                  <nav>
                    <div class="nav" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-note" role="tab" aria-controls="nav-note"
                        aria-selected="true">
                        <strong>Note</strong>
                      </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review"
                        aria-selected="false">
                        <strong>Review</strong>
                      </a>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="tab-content row tab-media">
                <div id="nav-note" class="tab-pane fade show active w-100" role="tabpanel">
                  <div class="row media-detail">
                    <ng-container *ngFor="let media of noteItem?.medias; let i=index">
                      <div class="col-md-3 media-detail h-100" (click)="onClickImage(i)">
                        <img class="d-block w-100 h-100 img-thumbnail" [ngClass]="media.class" src="#" data-src="{{media.image}}">
                        <div class="bottom-left" *ngIf="media.audio">
                          <span>
                            <i class="fas fa-volume-up"></i>
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div id="nav-review" class="tab-pane fade w-100" role="tabpanel">
                  <div class="row">
                    <div class="col-md-12" style="padding-right: 30px;">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light" *ngFor="let review of (reviews | async)?.data">
                          <strong>{{review.text}}</strong>
                          <span style="float: right;" class="badge badge-pill" [ngClass]="{'badge-info': review.like, 'badge-secondary': !review.like}">
                            <i class="fas fa-thumbs-up"></i>
                          </span>
                          <br /> By: {{review.reviewer.display_name}}
                          <br /> On: {{review.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-danger btn-action" (click)="onCancel()" [disabled]="processing">Cancel</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-danger btn-action" (click)="onReject()" [disabled]="processing">Reject</button>
              <button type="button" class="btn btn-primary btn-action" (click)="onApprove()" [disabled]="processing">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
