.modal-lg {
  max-width: 1200px;
}

div.container {
  padding-top: 15px;
}

.btn-action {
  width: 90px;
}

.note-detail {
  background-color: black;
  color: white;
}

.user-image {
  height: 100%;
  width: 100%;
}

.note-menu {
  background-color: #bf1e2e;
}

.nav-item {
  color: white;
}

.nav-item.nav-link.active {
  color: white;
  border-bottom-color: white;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: white;
  margin-bottom: 5px;
}

span.favorite {
  color: red;
}

span.unfavorite {
  color: white;
}

.carousel {
  height: 580px;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
  cursor: default;
}

.carousel-pointer {
  cursor: pointer;
}

.row.tab-media {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-left: 0px;
}

.row.media-detail {
  height: 150px;
}

.col-md-3.media-detail {
  padding-bottom: 10px;
  cursor: pointer;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  height: 25px;
  min-width: 500px;
  color: black;
  text-align: left;
}

img.inactive {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
