<div class="row well group-checkbox">
  <div class="col-md-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" (keyup)="onSearch()">
    </div>
    <ul class="list-group checked-list-box group-checkbox-container">
      <ng-container *ngFor="let option of optionList">
        <li class="list-group-item btn-img" [ngClass]="{'list-group-item-danger': option.selected}" (click)="onClick(option)">
          <span *ngIf="!option.selected">
            <i class="far fa-check-circle" aria-hidden="true"></i>
          </span>
          <span *ngIf="option.selected">
            <i class="fas fa-check-circle" aria-hidden="true"></i>
          </span>
          {{option.caption}}
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col-md-6 group-select-container">
    <div class="row">
      <div class="col-md-6 text-center">
        <ng-container *ngFor="let option of leftSideList">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-left">
                  <span [ngClass]="{'favorite': option.favorites, 'unfavorite': !option.favorites}">
                    <i class="fas fa-heart"></i>
                  </span>
                </div>
                <div class="col-md-8 text-right">
                  <app-rating [rating]="option.rating"></app-rating>
                </div>
              </div>
            </div>
            <img class="card-img-bottom" [src]="option.image">
            <div class="bottom-left">{{option.keywords}}</div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-6 text-center">
        <ng-container *ngFor="let option of rightSideList">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-left">
                  <span [ngClass]="{'favorite': option.favorites, 'unfavorite': !option.favorites}">
                    <i class="fas fa-heart"></i>
                  </span>
                </div>
                <div class="col-md-8 text-right">
                  <app-rating [rating]="option.rating"></app-rating>
                </div>
              </div>
            </div>
            <img class="card-img-bottom" [src]="option.image">
            <div class="bottom-left">{{option.keywords}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
