.well {
  margin-top: 15px;
  margin-bottom: 15px;
}

.state-icon {
  left: -5px;
}

.list-group-item {
  padding: 2px 10px 0px;
}

.well .list-group {
  margin-bottom: 0px;
  margin-top: 10px;
}

div.group-checkbox {
  margin-left: 0px;
  margin-right: 0px;
}

.alert {
  padding: 0 0 0 8px;
  margin-bottom: 10px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  top: 0px;
  right: 0px;
  left: -5px;
  color: #000;
  opacity: .5;
}

.col-md-4 {
  width: 37.7%;
}

.col-md-8 {
  width: 61.666667%;
}

.group-checkbox-container {
  max-height: 200px;
  overflow: auto;
}

.group-select-container {
  max-height: 235px;
  overflow: auto;
}

img {
  height: 200px;
}

div.card-body {
  padding: 0px;
  background-color: black;
}

span.favorite {
  color: red;
}

span.unfavorite {
  color: white;
}

.col-md-6 .text-left {
  padding-left: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  width: 150px;
  height: 50px;
  color: white;
  text-align: left;
  background-color: #bf1e2e;
}
