<div class="modal fade" id="add-series-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-note-modalLabel">Create Series</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-justified">
              <ng-container *ngFor="let wizard of wizardConfig">
                <li class="nav-item enabled" (click)="onStepClick(wizard.step)" [ngClass]="{'active': currentStep === wizard.step, 'enabled': currentStep != wizard.step}">
                  <a>{{wizard.name}}</a>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="card-block" *ngIf="descriptionForm">
            <app-series-description [descriptionForm]="descriptionForm" [hidden]="currentStep !== 1"></app-series-description>
            <app-add-note-series [descriptionForm]="descriptionForm" [hidden]="currentStep !== 2"></app-add-note-series>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-danger btn-action" data-dismiss="modal" [disabled]="processing">Cancel</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-primary btn-action" [disabled]="processing || descriptionForm?.invalid" (click)="createSeries()">
                <span *ngIf="processing">
                  <i class="fas fa-spinner"></i>
                </span>
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
