.list-group-item:first-child {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.list-group-item:last-child {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.list-group-item {
  color: white;
  background-color: black;
  border: none
}

a:focus {
  background-color: #bf1e2e;
}

.collapse-sign {
  float: right;
}

div.submenu {
  padding-left: 20px;
}
