<div class="list-group">
  <ng-container *ngFor="let menuItem of menuItemList">
    <a id={{menuItem.value}} href="#collapse-{{menuItem.value}}" class="list-group-item list-group-item-action" data-toggle="collapse"
      data-target="#collapse-{{menuItem.value}}" aria-expanded="true" aria-controls="collapseOne" *ngIf="menuItem.subMenuItemList;else withoutcollapse"
      (click)="onMenuClick(menuItem)">
      <span>
        <i class="fas" [ngClass]="menuItem.iconClass"></i>
      </span>
      {{menuItem.name}}
      <span class="collapse-sign" *ngIf="!menuItem.toggle;else nottoggle">
        <i class="fas fa-angle-right"></i>
      </span>
      <ng-template #nottoggle>
        <span class="collapse-sign">
          <i class="fas fa-angle-down"></i>
        </span>
      </ng-template>
    </a>
    <div id="collapse-{{menuItem.value}}" class="collapse submenu" *ngIf="menuItem.subMenuItemList">
      <ng-container *ngFor="let subMenuItem of menuItem.subMenuItemList">
        <a routerLink="{{subMenuItem.path}}" class="list-group-item list-group-item-action" *ngIf="!subMenuItem.subMenuItemList">
          <i class="fas fa-angle-right"></i> {{subMenuItem.name}}
        </a>
        <a id={{subMenuItem.value}} href="#collapse-{{subMenuItem.value}}" class="list-group-item list-group-item-action" data-toggle="collapse"
          data-target="#collapse-{{subMenuItem.value}}" aria-expanded="true" aria-controls="collapseOne" *ngIf="subMenuItem.subMenuItemList"
          (click)="onMenuClick(subMenuItem)">
          <span>
            <i class="fas fa-angle-right"></i>
          </span>
          {{subMenuItem.name}}
          <span class="collapse-sign" *ngIf="!subMenuItem.toggle;else notsubtoggle">
            <i class="fas fa-angle-right"></i>
          </span>
          <ng-template #notsubtoggle>
            <span class="collapse-sign">
              <i class="fas fa-angle-down"></i>
            </span>
          </ng-template>
        </a>
        <div id="collapse-{{subMenuItem.value}}" class="collapse submenu" *ngIf="subMenuItem.subMenuItemList">
          <a routerLink="{{subThreeMenuItem.path}}" class="list-group-item list-group-item-action" *ngFor="let subThreeMenuItem of subMenuItem.subMenuItemList">
            <i class="fas fa-angle-right"></i> {{subThreeMenuItem.name}}
          </a>
        </div>
      </ng-container>
    </div>
    <ng-template #withoutcollapse>
      <a id={{menuItem.value}} class="list-group-item list-group-item-action" routerLink="{{menuItem.path}}">
        <span>
          <i class="fas" [ngClass]="menuItem.iconClass"></i>
        </span>
        {{menuItem.name}}
      </a>
    </ng-template>
  </ng-container>
</div>
