<div class="dashboard container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>DashBoard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-note-approvement></app-note-approvement>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-note-overview></app-note-overview>
    </div>
    <div class="col-md-6">
      <app-note-rating></app-note-rating>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-note-report></app-note-report>
    </div>
  </div>
</div>
