<div class="card">
  <div class="card-header text-white bg-dark">
    <strong>Notes Rating</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('day')">Day</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('week')">Week</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('month')">Month</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('year')">Year</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="multi">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
