<div class="modal fade" id="add-difficulty-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-note-modalLabel">Add Difficulty</h5>
      </div>
      <div class="modal-body" [formGroup]="subjectForm" *ngIf="subjectForm">
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Difficulty Code</strong>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="text" formControlName="code" class="form-control" placeholder="Enter Difficulty Code">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Difficulty Name</strong>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Difficulty Name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-danger btn-action" data-dismiss="modal" [disabled]="processing">Cancel</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-primary btn-action" (click)="onAdd()" [disabled]="processing || subjectForm?.invalid">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
