<div id="sidebar">
  <div class="row">
    <div class="col-md-12">
      <app-profile></app-profile>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-menu></app-menu>
    </div>
  </div>
</div>
