<div class="ranking container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Ranking > Notes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('day')">day</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('week')">week</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('month')">month</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('year')">year</button>
    </div>
    <div class="col-md-2 text-right">
      <strong>Sort By</strong>
    </div>
    <div class="col-md-2" [formGroup]="sortingForm">
      <select id="sorting" class="form-control" formControlName="sorting">
        <option *ngFor="let option of sortingOption" [ngValue]="option.code">{{option.text}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-datatable class="material" [rows]="dataList?.rows || []" [columns]="dataList?.columns" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="dataList?.total || 0" [offset]="dataList?.offset"
        [limit]="dataList?.limit" [loadingIndicator]="dataList?.loadingIndicator" (page)="setPage($event)">
      </ngx-datatable>
    </div>
  </div>
</div>
