div.note-approvement-table {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 10px;
}

.bg-dark {
  background-color: #04305d !important;
}

div.card-header {
  padding-top: 0px;
  padding-bottom: 0px;
}
