<div class="card">
  <div class="card-header text-white bg-dark">
    <strong>Notes Approvement</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('day')">Day</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('week')">Week</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('month')">Month</button>
              <button type="button" class="btn btn-primary" (click)="onQueryByClick('year')">Year</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" *ngIf="multi">
            <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <strong>Status</strong>
              </div>
              <div class="col-md-2" [formGroup]="searchForm" *ngIf="searchForm">
                <select id="sorting " class="form-control" formControlName="status">
                  <option *ngFor="let option of sortingOption | async" [ngValue]="option.code">{{option.text}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 note-approvement-table" *ngIf="searchForm">
                <app-table [dataService]="dataService" [columnsList]="columnList" [searchForm]="_searchForm" [viewable]="true" [onAlterData]="onAlterData"
                  (onTableRowEdit)="onTableRowEdit($event)"></app-table>
                <app-aprrove-note [note]="selectedNote" (onAlterDataEvent)="onAlterDataEvent($event)"></app-aprrove-note>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
