<div class="user-group">
  <div class="row">
    <div class="col-md-12">
      <img [src]="profile?.photo" class="user-image rounded-circle" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 user-name">
      {{profile?.display_name}}
    </div>
  </div>
</div>
