.user-group {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.user-group .user-image {
  height: 120px;
}

.user-group .user-name {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
