<div class="note-overview container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Notes Overview</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 filter-container">
      <h4>Filters</h4>
      <div class="row">
        <div class="col-md-3">
          <strong>Subject</strong>
        </div>
        <div class="col-md-3">
          <strong>Grade</strong>
        </div>
        <div class="col-md-3">
          <strong>Difficulty</strong>
        </div>
        <div class="col-md-3">
          <strong>Privacy</strong>
        </div>
      </div>
      <div class="row form-group" [formGroup]="filterForm">
        <div class="col-md-3">
          <select id="subject" class="form-control" formControlName="subject">
            <option [ngValue]="null">--- Please Select ---</option>
            <option *ngFor="let option of subjectOption | async" [ngValue]="option.code">{{option.text}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select id="grade" class="form-control" formControlName="grade">
            <option [ngValue]="null">--- Please Select ---</option>
            <option *ngFor="let option of gradeOption | async" [ngValue]="option.code">{{option.text}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select id="difficulty" class="form-control" formControlName="difficulty">
            <option [ngValue]="null">--- Please Select ---</option>
            <option *ngFor="let option of levelOption | async" [ngValue]="option.code">{{option.text}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select id="privacy" class="form-control" formControlName="privacy">
            <option *ngFor="let option of privacyOption | async" [ngValue]="option.code">{{option.text}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
        [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [autoScale]="autoScale">
      </ngx-charts-area-chart>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('day')">day</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('week')">week</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('month')">month</button>
      <button type="button" class="btn btn-primary btn-action" (click)="onQueryByClick('year')">year</button>
    </div>
  </div>
  <app-box-spinner [processing]="processing"></app-box-spinner>
</div>
