div.container {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 200px;
  overflow-y: scroll;
}

.input-file-upload {
  margin: auto;
}

.alert {
  padding: 0;
}

.alert-dismissible .close {
  padding: 0;
}

.btn-browse-audio {
  padding-top: 0px;
  padding-bottom: 0px;
}
