<div class="container">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="row" *ngFor="let fileItem of _fileUploader?.queue">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-secondary" role="alert">
            <strong>{{ fileItem?.file?.name }}</strong>
          </div>
        </div>
        <div class="col-md-6">
          <label class="btn btn-info btn-browse-audio">
            Upload audio
            <input class="input-file-upload" type="file" ng2FileSelect [uploader]="fileItem?.file?.audioUploader" hidden multiple accept="audio/*"
            />
          </label>
        </div>
      </div>
      <div class="row" *ngIf="fileItem?.file?.audioUploader?.queue[0]">
        <div class="col-md-6">
          <div class="alert alert-dismissible fade show" [ngClass]="{'alert-success': fileItem?.file?.audioUploader?.queue[0].isSuccess, 'alert-danger': fileItem?.file?.audioUploader?.queue[0].isError}"
            role="alert">
            <strong>{{ fileItem?.file?.audioUploader?.queue[0]?.file.name }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteFileItem(fileItem?.file)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <audio [id]="fileItem?.file?.audioUploader?.queue[0]?.id" controls>
            <source [src]="fileItem?.file?.audioUploader?.queue[0]?.file.url" type="{{fileItem?.file?.audioUploader?.queue[0]?.file.type}}"
            />
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
