<div class="notes container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Notes Approvement</h1>
    </div>
  </div>
  <app-form-search [formConfig]="formConfig" (onsubmitEvent)="onsubmitEvent($event)"></app-form-search>
  <div class="row">
    <div class="col-md-12">
      <h4>Notes Approvement List</h4>
    </div>
  </div>
  <app-table [dataService]="dataService" [columnsList]="columnList" [searchForm]="searchForm" [viewable]="true" [onAlterData]="onAlterData"
    (onTableRowEdit)="onTableRowEdit($event)"></app-table>
</div>
<app-aprrove-note [note]="selectedNote" (onAlterDataEvent)="onAlterDataEvent($event)"></app-aprrove-note>
