.drop-zone {
  border: dotted 3px lightgray;
  padding: 30px;
}

.input-file-upload {
  margin: auto;
}

.input-file-upload:disabled {
  margin: auto;
}

label.label-disabled {
  cursor: not-allowed !important;
  opacity: 0.65 !important;
}

.nv-file-over {
  border: dotted 3px #8bc43f;
}

[hidden] {
  display: none !important;
}

.btn-upload {
  margin: 5px 0px 5px 0px;
}

label#btn-browse-single {
  margin-top: 0;
}

.mat-progress-bar {
  height: 20px;
}

div.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.alert {
  padding: 0;
}

.alert-dismissible .close {
  padding: 0;
}

div.upload-item-continer {
  max-height: 500px;
  overflow-y: scroll;
}

.note-img {
  cursor: pointer;
  width: 100%;
  height: 100px;
}

.alert-dark {
  background-color: black;
}

button.close {
  color: white;
}

.note-img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.note-img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

label.btn {
  margin-top: 8px;
}
