<div class="container" *ngIf="uploader">
  <div class="row file-upload-container-spacing">
    <div class="col-md-6 text-center">
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (onFileDrop)="onFileDrop($event)" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="drop-zone">
        <p>Drop File Here</p>
        <p>or</p>
        <label id="btn-browse-single" class="btn btn-info">
          Browse
          <input class="input-file-upload" type="file" ng2FileSelect [uploader]="uploader"
            hidden multiple accept="image/*" />
        </label>
      </div>
      <div style="color: red; text-align: left" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
    <div class="col-md-6 upload-item-continer">
      <div class="row" *ngFor="let item of uploader.existing">
        <div class="col-md-12">
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteExisting(item)">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="container">
              <div class="row">
                <div class="col-md-3 text-center">
                  <img [src]="item.image.path" class="note-img">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <audio controls *ngIf="item.audio.path || item.audio.uploader?.queue[0]?.file?.url">
                        <source [src]="item.audio.path || item.audio.uploader?.queue[0]?.file?.url" />
                      </audio>
                      <audio controls *ngIf="!item.audio.path && !item.audio.uploader?.queue[0]?.file?.url">
                        <source [src]="item.audio.path || item.audio.uploader?.queue[0]?.file?.url" />
                      </audio>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-danger" (click)="onDeleteAudio(item)" [disabled]="!item.audio.hasAudio && item.audio.uploader?.queue.length === 0">
                        Delete Audio
                      </button>
                      <label class="btn btn-primary" [ngClass]="{'label-disabled': item.audio.hasAudio || item.audio.uploader?.queue.length > 0}">
                        Upload audio
                        <input class="input-file-upload" [disabled]="item.audio.hasAudio || item.audio.uploader?.queue.length > 0" type="file" ng2FileSelect
                          [uploader]="item.audio.uploader" hidden multiple accept="audio/*" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let item of uploader.queue">
        <div class="col-md-12">
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteExisting(item)">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="container">
              <div class="row">
                <div class="col-md-3 text-center">
                  <img [src]="item.file.url" class="note-img">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <audio controls *ngIf="item.uploader.queue[0]?.file?.url">
                        <source [src]="item.uploader.queue[0]?.file?.url" />
                      </audio>
                      <audio controls *ngIf="!item.uploader.queue[0]?.file?.url">
                        <source [src]="item.uploader.queue[0]?.file?.url" />
                      </audio>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-danger" (click)="onDeleteAudio(item)" [disabled]="item.uploader?.queue.length === 0">
                        Delete Audio
                      </button>
                      <label class="btn btn-primary" [ngClass]="{'label-disabled': item.uploader?.queue.length > 0}">
                        Upload audio
                        <input class="input-file-upload" [disabled]="item.uploader.queue.length > 0" type="file" ng2FileSelect
                          [uploader]="item.uploader" hidden multiple accept="audio/*" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
