<div class="row">
  <div class="col-md-12 search-form-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row form-group" *ngFor="let formList of _formConfig">
        <ng-container *ngFor="let form of formList">
          <div class="col-md-2">
            <strong>{{form.name}}: </strong>
          </div>
          <div class="col-md-4" [ngSwitch]="form.type">
            <ng-container *ngSwitchCase="'text'">
              <input type="text" [formControlName]="form.id" class="form-control" id={{form.id}} placeholder={{form.placeholder}}>
            </ng-container>
            <ng-container *ngSwitchCase="'dropdown'">
              <select id="{{form.id}}" class="form-control" [formControlName]="form.id">
                <option [ngValue]="null">--- Please Select ---</option>
                <option *ngFor="let option of form.optionList | async" [ngValue]="option.code">{{option.text}}</option>
              </select>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="row form-group">
        <div class="col-md-12 text-right btn-container">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
