<div class="modal fade" id="update-note-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-note-modalLabel">Update notes</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-justified">
              <ng-container *ngFor="let wizard of wizardConfig">
                <li class="nav-item enabled" (click)="onStepClick(wizard.step)" [ngClass]="{'active': currentStep === wizard.step, 'enabled': currentStep > wizard.step}">
                  <a>{{wizard.name}}</a>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="card-block">
            <app-note-description [descriptionForm]="descriptionForm" [hidden]="currentStep !== 1"></app-note-description>
            <app-note-image [fileUploader]="fileUploader" (onDeleteExistingItem)="onDeleteExistingItem($event)" (onDeleteAudioItem)="onDeleteAudioItem($event)"
              [hidden]="currentStep !== 2"></app-note-image>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary btn-action" data-dismiss="modal" [disabled]="processing || processingDelete">Cancel</button>
              <button type="button" class="btn btn-danger btn-action" (click)="onDeleteNote()" [disabled]="processing || processingDelete">
                <span *ngIf="processingDelete">
                  <i class="fas fa-spinner"></i>
                </span>
                Delete
              </button>
            </div>
            <div class="col-md-6 text-right">
              <ng-container *ngFor="let buttonConfig of buttonConfigList">
                <button type="button" class="btn btn-primary btn-action" [disabled]="buttonConfig.disabled || processing || processingDelete" (click)="onNext(buttonConfig)"
                  *ngIf="buttonConfig.show">
                  <span *ngIf="processing">
                    <i class="fas fa-spinner"></i>
                  </span>
                  {{buttonConfig.name}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
