<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center coming-soon">
    <h1>Coming Soon...</h1>
    <h3>Under Construction</h3>
  </div>
  <div class="col-md-4"></div>
</div>
