<div class="row grade">
  <div class="col-md-6 col-sm-6">
    <h3>Grade</h3>
  </div>
  <div class="col-md-6 col-sm-6 text-right">
    <button class="btn btn-primary" (click)="onAdd()">
      <i class="fas fa-plus"></i>
    </button>
    <button class="btn btn-danger" (click)="onDelete()" [disabled]="!selectedRow || selectedRow.length === 0">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<app-table [dataService]="dataService" [columnsList]="columnList" [editable]="true" [selectable]="true" [onAlterData]="onAlterData"
  (onTableRowEdit)="onTableRowEdit($event)" (onTableRowSelect)="onTableRowSelect($event)"></app-table>
<app-add-grade [inputData]="addGrade" (onAlterDataEvent)="onAlterDataEvent($event)"></app-add-grade>
<app-update-grade [inputData]="updateGrade" (onAlterDataEvent)="onAlterDataEvent($event)"></app-update-grade>
