.modal-lg {
  max-width: 1039px;
}

div.container {
  padding-top: 15px;
}

.btn-action {
  width: 90px;
}

.card-header {
  background-color: #fff;
  padding: 0;
  font-size: 1.25rem;
}

.nav-item {
  padding: 1rem 0rem;
  border-bottom: 0.5rem solid #ccc;
  border-bottom-color: #f58995;
}

.enabled {
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: black;
  border-bottom-color: #bf1e2e !important;
}

