#navbar.header {
  background: black !important;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
}

#navbar .logo-image {
  margin-top: -10px;
  height: 30px;
}

#navbar .logo-user {
  height: 50px;
  cursor: pointer;
}

#navbar .logo-text {
  padding-left: 10px;
  color: white;
  font-size: 28px;
}

#navbar .user-col {
  text-align: right;
}

#navbar .user-icon {
  color: white;
  cursor: pointer;
}

#navbar .dropdown-menu {
  padding: 0;
}
