<div id="navbar" class="container-fluid header">
  <div class="row">
    <div class="col-sm-1 col-md-10">
      <img class="logo-image" src="assets/images/logo.png" alt="XDUCATION" />
    </div>
    <div class="col-sm-1 col-md-2 user-col dropdown">
      <img id="logo-user" class="logo-user dropdown-toggle" src="assets/images/user-menu-white.png" alt="User Menu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" />
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logo-user" (click)="logout()">
        <a class="dropdown-item" href="javascript:;">Logout</a>
      </div>
    </div>
  </div>
</div>
