<div class="row">
  <div class="col-md-12">
    <ngx-datatable class="material" [rows]="dataList?.rows || []" [columns]="dataList?.columns" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true" [count]="dataList?.total || 0"
      [offset]="dataList?.offset" [limit]="dataList?.limit" [loadingIndicator]="dataList?.loadingIndicator" (page)="setPage($event)"
      (sort)="onSort($event)" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'>
      <ng-container *ngIf="selectable">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ng-container *ngFor="let column of dataList?.columns">
          <ngx-datatable-column *ngIf="!column.headerTemplate" name={{column.name}} prop={{column.prop}}></ngx-datatable-column>
          <ngx-datatable-column *ngIf="column.headerTemplate" name={{column.name}}>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group" let-rowHeight="rowHeight">
              <span class="editable" *ngIf="editable" (click)="onEdit(row)">
                <i class="fas fa-edit"></i>
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ng-container>
      </ng-container>
    </ngx-datatable>
    <ng-template #hdrTpl let-column="column">
      <span class="table-action">{{column.name}}</span>
    </ng-template>
    <ng-template #editTmpl let-row="row" let-value="value">
      <span class="editable" *ngIf="editable" (click)="onEdit(row)">
        <i class="fas fa-edit"></i>
      </span>
      <span class="viewable" *ngIf="viewable" (click)="onEdit(row)">
        <i class="fas fa-eye"></i>
      </span>
    </ng-template>
  </div>
</div>
