.ngx-datatable.material.fixed-header .datatable-header .datatable-header-inner {
  background-color: #bf1e2e;
}

.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper,
.table-action {
  color: white;
  font-weight: bold;
}

.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
  color: white;
}

.ngx-datatable.material .datatable-footer {
  font-weight: bold;
  color: white;
  background-color: #bf1e2e;
}

.ngx-datatable.material .datatable-body .progress-linear .container {
  background-color: #9a9c9e;
}

.ngx-datatable.material .datatable-body .progress-linear .container .bar {
  background-color: black;
}

.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
  color: white;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  color: white;
}

.editable,
.viewable {
  cursor: pointer;
}
