<div class="report container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Reported Notes</h1>
    </div>
  </div>
  <app-form-search [formConfig]="formConfig" (onsubmitEvent)="onsubmitEvent($event)"></app-form-search>
  <div class="row">
    <div class="col-md-12">
      <h4>Reported Notes List</h4>
    </div>
  </div>
  <app-table [dataService]="dataService" [columnsList]="columnList" [searchForm]="searchForm" [viewable]="true" [onAlterData]="onAlterData"
    (onTableRowEdit)="onTableRowEdit($event)"></app-table>
</div>
<app-note-report-detail [reports]="reports" (onAlterDataEvent)="onAlterDataEvent($event)"></app-note-report-detail>
