<div class="container" [formGroup]="noteDescform" *ngIf="noteDescform">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Title/Caption </strong>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <textarea formControlName="caption" rows="5" placeholder="Add Description" class="form-control" maxlength="200"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <strong>Keywords </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <tag-input formControlName="keywords" [placeholder]="''" [secondaryPlaceholder]="'Add Keyword'" [maxItems]="50" theme='minimal'></tag-input>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row form-group" *ngFor="let masterData of masterDataConfig">
        <div class="col-md-3">
          <strong>{{masterData.label}}: </strong>
        </div>
        <div class="col-md-9">
          <select class="form-control" [formControlName]="masterData.controlName">
            <option [ngValue]="null">{{masterData.default}}</option>
            <option *ngFor="let option of masterData.optionList | async" [ngValue]="option.code">{{option.text}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
