<div class="container" [formGroup]="_descriptionForm">
  <div class="row">
    <div class="col-md-2">
      <strong>Series Name</strong>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" formControlName="name" class="form-control" placeholder="Enter Series Name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong>Series Description</strong>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <textarea formControlName="description" rows="5" placeholder="Add Description" class="form-control"></textarea>
    </div>
  </div>
</div>
