<div class="series container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Series</h1>
    </div>
    <div class="col-md-6 col-sm-6 text-right">
      <button class="btn btn-danger" (click)="onAddSeries()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <app-form-search [formConfig]="formConfig" (onsubmitEvent)="onsubmitEvent($event)"></app-form-search>
  <div class="row">
    <div class="col-md-12">
      <h4>Series List</h4>
    </div>
  </div>
  <app-table [dataService]="dataService" [columnsList]="columnList" [searchForm]="searchForm" [editable]="true" [onAlterData]="onAlterData"
    (onTableRowEdit)="onTableRowEdit($event)"></app-table>
</div>
<app-add-series [series]="addSeries" (onAlterDataEvent)="onAlterDataEvent($event)"></app-add-series>
<app-update-series [series]="updateSeries" (onAlterDataEvent)="onAlterDataEvent($event)"></app-update-series>
