<div class="row subject">
  <div class="col-md-6 col-sm-6">
    <h3>Subject</h3>
  </div>
  <div class="col-md-6 col-sm-6 text-right">
    <button class="btn btn-primary" (click)="onAdd()">
      <i class="fas fa-plus"></i>
    </button>
    <button class="btn btn-danger" (click)="onDelete()" [disabled]="!selectedRow || selectedRow.length === 0">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<app-table [dataService]="dataService" [columnsList]="columnList" [editable]="true" [selectable]="true" [onAlterData]="onAlterData"
  (onTableRowEdit)="onTableRowEdit($event)" (onTableRowSelect)="onTableRowSelect($event)"></app-table>
<app-add-subject [inputData]="addSubject" (onAlterDataEvent)="onAlterDataEvent($event)"></app-add-subject>
<app-update-subject [inputData]="updateSubject" (onAlterDataEvent)="onAlterDataEvent($event)"></app-update-subject>
