.drop-zone {
  border: dotted 3px lightgray;
  padding: 30px;
}

.input-file-upload {
  margin: auto;
}

.nv-file-over {
  border: dotted 3px #8bc43f;
}

[hidden] {
  display: none !important;
}

.btn-upload {
  margin: 5px 0px 5px 0px;
}

label#btn-browse-single {
  margin-top: 0;
}

.mat-progress-bar {
  height: 20px;
}

div.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.alert {
  padding: 0;
}

.alert-dismissible .close {
  padding: 0;
}

div.upload-item-continer {
  max-height: 200px;
  overflow-y: scroll;
}
