<div class="container" *ngIf="uploader">
  <div class="row file-upload-container-spacing">
    <div class="col-md-6 text-center">
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (onFileDrop)="onFileDrop($event)" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="drop-zone">
        <p>Drop File Here</p>
        <p>or</p>
        <label id="btn-browse-single" class="btn btn-info">
          Browse
          <input class="input-file-upload" type="file" ng2FileSelect (onFileSelected)="onFileSelected($event)" [uploader]="uploader"
            hidden multiple accept="image/*"/>
        </label>
      </div>
      <div style="color: red; text-align: left" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
    <div class="col-md-6 upload-item-continer">
      <div class="row" *ngFor="let item of uploader.queue">
        <div class="col-md-12">
          <div class="alert alert-dismissible fade show" [ngClass]="{'alert-success': item.isSuccess, 'alert-danger': item.isError}"
            role="alert">
            <strong>{{ item?.file?.name }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteFileItem(item)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
