/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
/* scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* spinner */

.fa-spinner {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  -moz-animation: spin3 .7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin3 {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

/* miscellaneous */

.btn {
  border-radius: 50px;
}

.btn-action {
  width: 90px;
}

:disabled {
  cursor: not-allowed;
}

/* Table */

.ngx-datatable.material.fixed-header .datatable-header .datatable-header-inner {
  background-color: #bf1e2e;
}

.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper,
.table-action {
  color: white;
  font-weight: bold;
}

.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
  color: white;
}

.ngx-datatable.material .datatable-footer {
  font-weight: bold;
  color: white;
  background-color: #bf1e2e;
}

.ngx-datatable.material .datatable-body .progress-linear .container {
  background-color: #9a9c9e;
}

.ngx-datatable.material .datatable-body .progress-linear .container .bar {
  background-color: black;
}

.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
  color: white;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  color: white;
}

.editable,
.viewable {
  cursor: pointer;
}
